/* Main container */
.register-container {
    --form-width: 315px;
    --register-box-color: #272727;
    --input-color: #3a3a3a;
    --button-color: #373737;
    --footer-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--register-box-color);
}

/* Register box */
.register-box {
    background: var(--register-box-color);
    border-radius: 24px;
    padding: 28px;
    width: var(--form-width);
    max-width: 400px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:
        inset 0 40px 60px -8px rgba(255, 255, 255, 0.12),
        inset 4px 0 12px -6px rgba(255, 255, 255, 0.12),
        inset 0 0 12px -4px rgba(255, 255, 255, 0.12);
}

/* Logo */
.register-logo {
    align-self: center;
    position: relative;
    width: 50px;
    height: 50px;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.2),
        rgba(0, 0, 0, 0.2)
    );
    box-shadow:
        8px 8px 16px rgba(0, 0, 0, 0.2),
        -8px -8px 16px rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.register-logo::before {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 50%;
    height: 20%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2.5px solid #fff;
}

.register-logo::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: 2.5px solid #fff;
}

/* Form */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    flex-grow: 1;
}

/* Header */
.register-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

/* Input container */
.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 280px;
}

/* Input label (agora acima do input) */
.input-label {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 4px;
    padding-left: 5px;
}

/* Inputs */
.register-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background: var(--input-color);
    color: white;
    outline: none;
    font-size: 14px;
    display: block;
}

.register-input:focus {
    border: 1px solid #fff;
}

/* Botão dentro da box */
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Button */
.register-button {
    width: 100%;
    max-width: 280px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background: var(--button-color);
    color: white;
    transition: 0.3s;
    box-shadow:
        inset 0px 3px 6px -4px rgba(255, 255, 255, 0.6),
        inset 0px -3px 6px -2px rgba(0, 0, 0, 0.8);
}

/* Button Hover */
.register-button:hover {
    background: rgba(255, 255, 255, 0.25);
    box-shadow:
        inset 0px 3px 6px rgba(255, 255, 255, 0.6),
        inset 0px -3px 6px rgba(0, 0, 0, 0.8),
        0px 0px 8px rgba(255, 255, 255, 0.05);
}
